@import "../../../breakpoints.scss";

.carouselContainer {
  margin: 50px 30px 0 30px;

  @media screen and (min-width: $breakpoint-md) {
    margin: 50px 75px 0 75px;
  }
}

.imageContainer {
  position: relative;
  text-align: center;
  height: 500px;
}

.image {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.cardHeader {
  font-weight: 700;
  text-align: center;
  border: 1px;
}

.imageCard {
  border: none;
}
